# Ignore virtual environments
.venv/
venv/

# Ignore environment variables
.env

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies
.mypy_cache/
.pytest_cache/